  @font-face{font-family:classic; src: url('/fonts/RobotoLight/RobotoLight.ttf');} 
  @font-face{font-family:classicReg; src: url('/fonts/RobotoRegular/RobotoRegular.ttf');}   
   @font-face{font-family:Inconsolata; src: url('/fonts/Inconsolata.otf');}
body{font-family:classic,Inconsolata; margin:0; padding:0; transition:2.5s;}
 input,select{font-family:classic,Inconsolata;}
 
#header{position: relative; height:150px; background:#C5DFD8;}
	  #order{  margin:25px;   border:solid #69b 2px;  padding:3px; font-size:15px;}
	  #labeOrdered{font-size:15px; margin-left: 20px; }
	#downlBlock{height:70px; background:#88CFBC;}
		#downlBlock input{margin:15px;   border:solid #69b 2px;  padding:8px; font-size:15px;}
		#downlBlock label{font-size:15px; margin-left: 20px; }
	#showButton{position: absolute; right: 0; bottom: 0; background:#88CFBC; width: 200px; text-align:center; padding: 10px; cursor:pointer}
	 
		
.itemCont{width:100%; text-align:center; }
	.item{margin:0 auto;  display:inline-block; border-top:solid #89a 1px; margin: 40px auto; padding: 20px 0px; overflow: hidden;}
	.item>span{display:inline-block}
	.item>div{text-align: left;  }
	.item>img{margin: 20px 0px; max-width: 100%;}